body {
    background-color: rgba(176, 224, 230, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: royalblue;
    font-family: Courier;
    padding: 10px;
}

h2 {
    background-color: rgb(255, 168, 153);
    padding: 10px;
}

p {
    color: rebeccapurple;
    font-family: Verdana;
    border: 2px solid powderblue;
    padding: 10px;
}


/* Lists settings */

div ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    background-color: #333333;
}

div li {
    float: left;
    margin: 2px;
}

div li a:link,
div li a:visited {
    background-color: #555555;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

div li a:hover {
    background-color: #111111;
}


/* Giving links some character! */

a:link,
a:visited {
    color: white;
    background-color: burlywood;
    font-family: monospace;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: teal;
    color: #333;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 5px;
    text-align: left;
}


/* custom characteristics - using class */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.div {
    color: red;
}


/* Styling header, section, footer */

header {
    background-color: rgb(196, 124, 124);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav {
    float: left;
    width: 20%;
    height: auto;
    background: #ccc;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 80%;
    height: auto;
    background-color: #f1f1f1;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #aaa;
    padding: 10px;
    text-align: center;
    color: white;
}

@media (max-width: 600px) {
    nav,
    article {
        width: 100%;
        height: auto;
    }
    nav li {
        float: left;
    }
}