body {
    background-color: rgba(176, 224, 230, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: royalblue;
    font-family: Courier;
}

p {
    color: rebeccapurple;
    font-family: Verdana;
    border: 2px solid powderblue;
    padding: 10px;
    display: inline-block;
}


/* Giving links some character! */

a:link,
a:visited {
    color: white;
    background-color: burlywood;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: teal;
}


/* custom characteristics - using class */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}