body {
    background-color: rgba(176, 224, 230, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: royalblue;
    font-family: Courier;
}

p {
    color: rebeccapurple;
    font-family: Verdana;
    border: 2px solid powderblue;
    padding: 10px;
}