body {
    background-color: hsl(219, 20%, 20%);
}

.triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid hsl(16, 100%, 66%);
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -100%);
}

.triangle:first-of-type {
    border-bottom-color: hsl(174, 72%, 56%);
    transform: translate(-50%, -150%);
    z-index: 100;
}

.triangle:last-of-type {
    border-bottom-color: hsl(39, 77%, 83%);
    transform: translate(-50%, -50%);
    z-index: -100;
}

.leaf {
    width: 140px;
    height: 140px;
    background: hsl(28, 87%, 67%);
    border-bottom-right-radius: 70%;
    border-top-left-radius: 70%;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.leaf1 {
    background: hsl(76, 87%, 67%);
    transform: translate(-80%, 0%);
}

.leaf2 {
    background: hsl(76, 50%, 53%);
    transform: translate(-50%, 0%);
}

.leaf3 {
    background: hsl(76, 44%, 39%);
    transform: translate(-20%, 0%);
}